.setup__Item {
	text-align: center;
	min-height: 215px!important;
}
.setup__Item h3{
	margin: 10px 0;
    text-transform: uppercase;
    font-size: 13px;
	color: #111;
	font-weight: 500;
}

@media (max-width: 768px){
	.setup__Item h3{
		color: #fff;
	}
}
.setup__Item a{
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
	/* border:1px solid #c7d0d8; */
	/* border-radius: 3px;
	margin-bottom: 30px; */
	margin: 10px;
	display: block;
	padding: 30px;
}

@media (max-width: 768px){
	.setup__Item a{
		border: 0;
		background: #202e47;
	}
}