footer{
    background-color: #202e47;
    display: flex;
    // flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 0.875em;

    @media(max-width:768px) {
        flex-direction: column;
        text-transform: uppercase;
        display: none;
    }
    .login-copyright{
        flex-grow: 1;
        color: #fff;
        @media(max-width:768px) {
            margin-bottom: 10px;
        }
    }
    .login-powered-wrap{
        color: #fff;
        // flex-grow: 1;
    }
}
