@import 'variables';
label{
	font-weight: normal;
    font-size: 12px;
	color: #333;
	.required{
		color: red;
	}
}
.form-group{
	margin-bottom: 20px;
}
.form-control {
	width: 100%;
	height: 40px;
	font-size: 13px;
	box-shadow: none;
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #c9d1dc;
	box-shadow: 0;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.Select--multi .Select-value{
	line-height: 32px!important;
	margin-top: 0!important;
}
/***** metadata ***/
.metadata {
	margin-top:10px;

}


.form-control:focus {
	outline: 0;
	box-shadow: none;
	border: 1px solid #0a89c1;
	box-shadow: 0;
}
.form-control::-moz-placeholder {
	color:#999;
	opacity:1
}
.form-control:-ms-input-placeholder {
color:#999
}
.form-control::-webkit-input-placeholder {
color:#999
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .form-control-feedback, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
	color: #7ACCBE;
}
.form-control::-ms-expand {
border:0;
background-color:transparent
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}
.form-control[disabled], fieldset[disabled] .form-control {
	cursor: not-allowed
}
textarea.form-control {
	height: auto
}

/* BUTTONS */

.btn-default{
	background-color: #fdad0c;
	border: 0;
	color: white;
	border-bottom: 2px solid #D18C0C;
	border-radius: 3px;
	padding: 10px 40px !important;
	margin-left: 10px;
	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		color: #fff;
		background-color: #D18C0C;
		border: 0;
		border-bottom: 2px solid #D18C0C;
		outline: 0;
		border-radius: none!important;
	}
	@media (max-width:480px) {
	width:100%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: -5px;

	}
}

.btn-primary{
	background-color: #41c97c;
	border: 0;
	border-bottom: 2px solid #32A564;
	border-radius: 3px;
	padding: 10px 40px !important;
	margin-left: 10px;
	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		color: #fff;
		background-color: #38B46E;
		border: 0;
		border-bottom: 2px solid rgb(41, 146, 87);
		outline: 0;
		border-radius: none!important;
	}

	@media (max-width:768px) {
		padding: 10px 12px;
		margin-top: 0px;
		margin-left: 0px;

	}

	@media (max-width:480px) {
	width:100%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: -5px;

	}
}

.btn-loading{
	background-image: url('./images/Ripple.svg');
	background-position: 100px;
	background-repeat: no-repeat;
}

.btn-pdf{
	border: 1px solid #0a89c1;

	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		outline: 0;
		border: 1px solid #0a89c1;
	}
}

.modal-footer button:first-child{
	background-color: #41c97c!important;
	border-bottom: 2px solid #32A564!important;

	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		color: #fff;
		background-color: #38B46E!important;;
		border: 0;
		border-bottom: 2px solid rgb(41, 146, 87)!important;;
		outline: 0;
		border-radius: none!important;
	}
}
#invoice {
	.btn-primary{
		margin-top: 22px;
	}
}

#inventory {
	.btn-primary {
		margin-top: 22px;
	}
}

#inventory {
	.addbutton .btn-primary {
		margin-top: 0px;
	}
}


#inventory {
	.editbutton .btn-primary {
		margin-top: 0px;
	}
}

#PO {
	.createpo .btn-primary {
		margin-top: 22px;
	}

	.pobuttons {
		text-align: right;
	}
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-bottom: 2px solid #c7211d;
    padding: 10px 12px;
    border-radius: 2px;
    border: 1px solid transparent !important;
    border-radius: 4px !important;

@media (max-width: 480px) {
	width: 100%;
    margin-top: 15px;
    margin-left: 0px;
    border: 1px solid transparent !important;
    border-radius: 4px !important;

	}
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-bottom: 2px solid #cc913d;
    padding: 10px 12px;
    border-radius: 2px;
    border: 1px solid transparent !important;
    border-radius: 4px !important;

@media (max-width: 480px) {
	width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid transparent !important;
    border-radius: 4px !important;

	}
}


//Add/Edit/Delete Revenue buttons
.btn-revenue{
	.btn-primary{
		@media(min-width: 480px){
			padding: 10px 16px!important;
		}
	}

	// Full width buttons
	.pull-right{
		@media(max-width: 480px){
			width: 100%;
		}
	}
}

//Metadata delete button
.metadata-butn-wrap{
	margin-top: 6px;
	text-align: center;
}



#userroles {
	.pull-right {
		@media (max-width: 480px) {
		width: 100%;
		}

	}
}

.btn[disabled] {
	background-color : grey;
	border-bottom: 2px solid grey;
	&:focus,
	&:hover {
		background-color : grey;
		border-bottom: 2px solid #5e5e5e;
	}
}

.btn-addmeta {
	margin-left:0px;
	margin-top:10px;
}

.metadata-butn-wrap a {
	color: red;
	font-size:20px;

}

@media (max-width:480px) {
	.metadata-butn-wrap a {
		color: red;
		font-size:20px;
		float:right;
		margin-right:170px;
	}
}


/* #products {
	.pull-right {
		@media (max-width: 480px) {
		width: 100%;
		}

	}
} */

#masterReport .btn.btn-primary{
    padding: 10px 30px !important;
}
#masterReport .btn.btn-default{
    padding: 10px 30px !important;
}
// .modal-footer{
// 	.btn-default{
// 		background-color: #41c97c;
// 		border: 0;
// 		border-bottom: 2px solid #32A564;
// 		border-radius: 3px;
// 		padding: 10px 40px !important;
// 		margin-left: 10px;
// 		&:hover,
// 		&:focus,
// 		&:active,
// 		&:active:focus {
// 			color: #fff;
// 			background-color: #38B46E;
// 			border: 0;
// 			border-bottom: 2px solid #38B46E;
// 			outline: 0;
// 			border-radius: none!important;
// 		}
// 	}
// }


/* MULTI CHECKBOX */

.product-box-head {
    background: #dce0e8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px 12px;
    color: #424f62;
    font-size: 16px;
}

.product-box-wrap {
    height: 250px;
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.product-box {
    background: #fff;
    border: 1px solid #c9d1dc;
    border-radius: 6px;
}

.product-box-list {
    padding: 8px 14px;

	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}
}

.am-checkbox .am-radio {
    display: block;
    line-height: 22px;
    margin: 0;
    padding: 7px 0;
}


/* CHECKBOXES */
.am-checkbox, .am-radio {
	display: block;
	line-height: 22px;
	margin: 0;
	padding: 7px 0
}
.form-horizontal .am-checkbox, .form-horizontal .am-radio {
	padding: 7px 0;
	min-height: auto
}
.am-checkbox input[type=checkbox], .am-checkbox input[type=radio], .am-radio input[type=checkbox], .am-radio input[type=radio] {
	margin: 0;
	display: none;
	width: 22px
}
.am-checkbox.inline, .am-radio.inline, form.dropzone .icon {
	display: inline-block
}
.am-checkbox label, .am-radio label {
	margin-bottom: 0
}
.am-checkbox input[type=checkbox]+label, .am-checkbox input[type=radio]+label, .am-radio input[type=checkbox]+label, .am-radio input[type=radio]+label {
	padding-left: 0
}
.am-checkbox input[type=checkbox]+label:before, .am-checkbox input[type=radio]+label:before, .am-radio input[type=checkbox]+label:before, .am-radio input[type=radio]+label:before {
	content: "";
	width: 22px;
	height: 22px;
	display: inline-block;
	border: 2px solid #c9d1dc;
	margin-right: 5px;
	font-size: 18px;
	font-family: 'Stroke 7';
	font-weight: 400;
	line-height: 19px;
	vertical-align: bottom;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	border-radius: 4px;
}
.am-checkbox input[type=checkbox]+label:hover:before, .am-checkbox input[type=checkbox]:hover+label:before, .am-checkbox input[type=radio]+label:hover:before, .am-checkbox input[type=radio]:hover+label:before, .am-radio input[type=checkbox]+label:hover:before, .am-radio input[type=checkbox]:hover+label:before, .am-radio input[type=radio]+label:hover:before, .am-radio input[type=radio]:hover+label:before {
	border-color: #d1d1d1
}
.am-checkbox input[type=checkbox]:checked+label:before,
.am-checkbox input[type=radio]:checked+label:before,
.am-radio input[type=checkbox]:checked+label:before,
.am-radio input[type=radio]:checked+label:before {
	content: "\e6cd";
	color: #FFFFFF;
	border-color: #01a0e2;
	background-color: #01a0e2;
	transition: all .1s ease 0s;
}
.am-checkbox input[type=checkbox]:disabled+label, .am-checkbox input[type=radio]:disabled+label, .am-radio input[type=checkbox]:disabled+label, .am-radio input[type=radio]:disabled+label {
	opacity: .5;
	pointer-events: none
}
.am-checkbox input[type=checkbox]:disabled+label:before, .am-checkbox input[type=radio]:disabled+label:before, .am-radio input[type=checkbox]:disabled+label:before, .am-radio input[type=radio]:disabled+label:before {
	pointer-events: none!important;
	background-color: #fff
}
.am-checkbox input[type=radio]+label:before, .am-radio input[type=radio]+label:before {
	border-radius: 50%;
	font-family: 'Stroke 7';
	line-height: 17px;
	font-size: 14px
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.am-checkbox input[type=radio]+label:before, .am-radio input[type=radio]+label:before {
	line-height: 18px
}
}

@media only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (-o-min-device-pixel-ratio:13/10), only screen and (-webkit-min-device-pixel-ratio:1.25), only screen and (-o-min-device-pixel-ratio:5/4), only screen and (min-resolution:120dpi) {
.am-checkbox input[type=radio]+label:before, .am-radio input[type=radio]+label:before {
	line-height: 19px
}
}
.am-checkbox input[type=radio]:checked+label:before, .am-radio input[type=radio]:checked+label:before {
	content: "\e6ce"
}
.am-checkbox.inline+.am-checkbox.inline, .am-checkbox.inline+.am-radio.inline, .am-radio.inline+.am-checkbox.inline, .am-radio.inline+.am-radio.inline {
	margin-left: 18px
}
.form-horizontal .form-group {
	margin-bottom: 0;
	padding: 12px 0
}
.input-group-addon {
	font-size: 17px;

	i{
		color: white;
	}

}
.input-group-addon .am-checkbox, .input-group-addon .am-radio {
	padding: 0;
	line-height: 21px
}
.input-group-addon .am-checkbox input+label, .input-group-addon .am-radio input+label {
	margin: 0
}
.input-group-addon .am-checkbox input+label:before, .input-group-addon .am-radio input+label:before {
	margin: 0;
	border-color: #ddd
}


/*************** SWITCH BUTTON **************/

.switch-button {
	border-radius: 50px;
	background-color: #b3b3b3;
	width: 60px;
	height: 27px;
	padding: 2px;
	position: relative;
	overflow: hidden
}
.switch-button input[type=checkbox] {
	display: none
}
.switch-button label {
	border-radius: 50%;
	border: 1px solid #ababab;
	background-color: #fff;
	margin: 0;
	height: 23px;
	width: 23px;
	z-index: 1;
	display: inline-block;
	cursor: pointer;
	background-clip: padding-box
}
.switch-button label:before {
	position: absolute;
	font-size: 11px;
	z-index: 0;
	content: "NO";
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 26px;
	top: 2px;
	text-align: right;
	padding-right: 10px;
	color: #fff
}
.switch-button input[type=checkbox]:checked+span {
	background-color: #01a0e2;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2px
}
.switch-button input[type=checkbox]:checked+span label {
	float: right;
	border-color: #ec4b4b
}
.switch-button input[type=checkbox]:checked+span label:before {
	position: absolute;
	font-size: 11px;
	z-index: 0;
	content: "YES";
	color: #fff;
	left: 0;
	text-align: left;
	padding-left: 10px
}
.switch-button.switch-button-yesno label:before {
	content: "NO"
}
.switch-button.switch-button-yesno input[type=checkbox]:checked+span label:before {
	content: "YES"
}
.switch-button.switch-button-xs {
	height: 20px;
	line-height: 22px;
	width: 50px
}
.switch-button.switch-button-xs label {
	height: 16px;
	width: 16px
}
.switch-button.switch-button-xs label:before {
	line-height: 19px
}
.switch-button.switch-button-sm {
	height: 24px;
	width: 57px;
	line-height: 26px
}
.switch-button.switch-button-sm label {
	height: 20px;
	width: 20px
}
.switch-button.switch-button-sm label:before {
	line-height: 23px
}
.switch-button.switch-button-lg {
	height: 30px;
	line-height: 32px;
	width: 65px
}
.switch-button.switch-button-lg label {
	height: 26px;
	width: 26px
}
.switch-button.switch-button-lg label:before {
	line-height: 29px
}
.switch-button.switch-button-success {
	background-color: #b3b3b3
}
.switch-button.switch-button-success label {
	border-color: #ababab
}
.switch-button.switch-button-success input[type=checkbox]:checked+span {
	background-color: #7ACCBE
}
.switch-button.switch-button-success input[type=checkbox]:checked+span label {
	border-color: #68c5b5
}
.switch-button.switch-button-info {
	background-color: #9da6b4
}
.switch-button.switch-button-info label {
	border-color: #9da6b4
}
.switch-button.switch-button-info input[type=checkbox]:checked+span {
	background-color: #01a0e2
}
.switch-button.switch-button-info input[type=checkbox]:checked+span label {
	border-color: #01a0e2;
}
.switch-button.switch-button-warning {
	background-color: #b3b3b3
}
.switch-button.switch-button-warning label {
	border-color: #ababab
}
.switch-button.switch-button-warning input[type=checkbox]:checked+span {
	background-color: #FFC870
}
.switch-button.switch-button-warning input[type=checkbox]:checked+span label {
	border-color: #ffbe57
}
.switch-button.switch-button-danger {
	background-color: #b3b3b3
}
.switch-button.switch-button-danger label {
	border-color: #ababab
}
.switch-button.switch-button-danger input[type=checkbox]:checked+span {
	background-color: #01a0e2
}
.switch-button.switch-button-danger input[type=checkbox]:checked+span label {
	border-color: #ed4b4b
}
.moveto-wrap {
	.Select-control{
		height: 40px;
		border-radius: 0!important;
		left: 5px;
		width: 250px;

		.Select-input{
			height: 43px;
		}
		.Select-placeholder{
			line-height: 44px;
		}
	}
}
.reset-list{
	margin-left: 10px;
}

.Select-control{
	border: 1px solid #c9d1dc!important;
	height: 40px!important;
	border-radius: 0!important;
	.Select-input{
		height: 38px!important;
	}
	.Select-placeholder{
		line-height: 40px!important;
	}
}
.Select--single>.Select-control .Select-value, .Select-placeholder{
	height: 40px!important;
	line-height: 40px!important;
}


.is-focused:not(.is-open) > .Select-control{
	border-color: #0a89c1!important;
	box-shadow: none!important
}

// .Select-control {
//     background-color: #fff;
// 	border-radius: 0px!important;
// 	border: 0;
//     color: #333;
//     cursor: default;
//     display: table;
//     height: 36px;
//     outline: 0;
//     overflow: hidden;
//     width: 100%;
// }
// .Select-control:hover,
// .Select-control:focus {
// 	border: 0;
// 	outline: 0;
// 	box-shadow: 0 0 0 1px #0a89c1;
// }

// .Select.Select--single {
// 	top: -6px;
// 	left: 10px;
// }

// .Select-placeholder{
// 	top: 5px
// }

// .moveto-wrap .Select-control {
//     min-width: 200px;
//     margin-right: 5px;
// }

// .Select-control
// {
// 	height:44px !important;
// }

/********Callander Icon */

.input-group-addon {
    padding: 6.5px 12px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: #00a1e3;
    border: 1px solid #00a1e3;
    border-radius: 0;
}


/********* FORM UPLOAD ************/

.fileContainer {
    background: #43c676;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 31px;
    color: #FFF;
    padding: 0px 10px 0 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    width: 130px;
	float: right;

	span {
		overflow: hidden;
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
		text-align: center;
	}
}

.fileContainer input[type="file"] {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
}

input[type=file] {
    display: block;
}

/** Date Picker */

.react-datepicker-txt
{
  border-width: 1px !important;
  box-shadow: none !important;
  padding: 10px 12px !important;
  font-size: 14px !important;
  border-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100% !important;
  height: 40px !important;
  background-color: #fff !important;
  border: 1px solid #c9d1dc !important;
  display: inline-block;
}

.react-datepicker-txt:focus{
  outline: 0;
  border: 1px solid #0a89c1;
}

.reactDatepicker{
	min-height: 50px;
}

.datepicker-wrapper{
	width: calc(100% - 50px);
	display: inline-block;

	div{
		width: 100%!important;
	}
	hr{
		display: none;
	}
	input[type = 'text']{
		border: 1px solid #c9d1dc!important;
		padding: 10px!important;
	}
}

.recTimepicker{
	min-height: 80px;
	.m-timePicker{
		width: 100%!important;
	}
	hr{
		display: none;
	}
	input[type = 'text']{
		padding: 10px!important;
		border: 1px solid #c9d1dc!important;
	}
}

.disc-pers-amont {
    border: 1px solid #c9d1dc;
    padding: 10px;
    border-radius: 6px;
}

.discount-radio-wrap .form-group {
    margin-bottom: 0!important;
}


.days-select-wrap {
	margin-top: 10px;
	margin-bottom: 10px;
}
.days-select-wrap ul li {
	display: inline-block;
	padding: 0px 12px;
	margin-bottom: 10px;
}
.days-select-wrap ul li a {
	background: #FFF;
	border: 1px solid #b7bec7;
	color: #b7bec7;
	border-radius: 50%;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 9px 10px;
	text-align: center;
	position: relative;
}
.days-select-wrap ul li a:before, .days-select-wrap ul li a:after {
	content: "";
	display: block;
	position: absolute;
	background: transparent;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	transition: .3s all;
	border: 1px solid;
}
.days-select-wrap ul li a:hover:after {
	transform: scale(1.5);
}
.days-select-wrap ul li a:hover:before {
	transform: scale(2);
	transition: .3s all;
	opacity: 0;
}
.days-select-wrap ul li a:hover {
	background: #01a0e2;
	border: 1px solid #01a0e2;
	color: #FFF;
}
.days-select-wrap ul li a.day-active {
	background: #01a0e2;
	border: 1px solid #01a0e2;
	color: #FFF;
}


.discount-radio-wrap {
    margin-bottom: 20px;
}

.bottom20 {
    margin-bottom: 20px;
}

.control-label {
    position: relative !important;
    display: block !important;
}

/* Time Picker Icon */
.datetimepicker .input-group-addon {
	padding: 8.5px 20px!important;

	@media(max-width: 768px){
		width: 50px;
	}
	&:hover{
		border: 0px;
	}
}


/******** HEADINGS *********/
#taxconfiggroup

.tabing-header h2 {
	font-size:17px;
}
