
ul{
	list-style: none
}
a {
 	background-color: transparent;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
a:active, a:hover {
	outline: 0
}

h1 {
	margin: .67em 0
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
 overflow: visible;
	 -webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button.close, input.form-control, textarea.form-control {
	-webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0
}

input[type=checkbox], input[type=radio] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}

*, :after, :before {
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}