

.product-box-wrap {
    
   
}

.widget{
	padding: 20px !important;
}

.product-box-list ul li .am-checkbox input[type="checkbox"] + label::before, .product-box-list ul li .am-checkbox input[type="radio"] + label::before, .product-box-list ul li .am-radio input[type="checkbox"] + label::before, .product-box-list ul li .am-radio input[type="radio"] + label::before {
    margin-right: 10px;
}

.product-box-list {
    padding: 8px 14px;
    max-height: 250px ;
    overflow-y: scroll;
}


.am-checkbox input[type="checkbox"]:checked + label::before, .am-checkbox input[type="radio"]:checked + label::before, .am-radio input[type="checkbox"]:checked + label::before, .am-radio input[type="radio"]:checked + label::before {
    content: "\e6cd" !important; 
    color: #FFFFFF;
    border-color: #01a0e2;
    background-color: #01a0e2;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .1s ease 0s;
    -o-transition: all .1s ease 0s;
    transition: all .1s ease 0s;
}

.am-checkbox input[type="checkbox"] + label::before, .am-checkbox input[type="radio"] + label::before, .am-radio input[type="checkbox"] + label::before, .am-radio input[type="radio"] + label::before {
    content: "" !important;
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 2px solid #c9d1dc;
        border-top-color: rgb(201, 209, 220);
        border-right-color: rgb(201, 209, 220);
        border-bottom-color: rgb(201, 209, 220);
        border-left-color: rgb(201, 209, 220);
    margin-right: 5px;
    font-size: 18px;
    font-family: 'Stroke 7';
    font-weight: 400;
    line-height: 19px;
    vertical-align: bottom;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
