
#tendertype .control-label
{
	float: left;
	margin-left: 10%;
	width: 40%;
	text-align: left;
}




#tendertype .switch-button {
    border-radius: 50px;
    background-color: #b3b3b3;
    width: 60px;
    height: 27px;
    padding: 2px;
    margin-left: 10px !important;
    position: relative;
    overflow: hidden;
}



/*.modal-dialog1 {
     width: 500px !important; 
}

.form-horizontal1 .form-group1 {
    margin-bottom: 0 !important;
    padding: 1px 0 !important; 
}*/


/*#tendertype .modal-dialog {
    width:600px;
}*/

#tendertype .form-horizontal .form-group {
    padding: 1px 0 !important;

}
